.page{
    margin:0px auto;
    width:400px;
    text-align: center;
}
form{
    font-family:'Poppins', sans-serif ;;
}
.textbar{
    width:100%;
    padding: 15px 10px;
    border:1px solid lightgrey;
    border-radius: 7px;
    margin-top:15px;
}
.btn {
    margin-top: 20px;
    background: #000;
    border-radius: 50px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 40px 15px 40px;
    border:none;
  }
  h4{
    color:grey;
  }
a{
    color:black;
}
p{
    color:grey;
}